
$supersmall-width: 319px;
$mobile-width: 1000px;
$fullsize-width: 1300px;
$oversize-width: 1500px;

$oversize-cutoff: 2100px;

$text-margin-left: 0.8em;
$text-margin-right: 0.4em;

$font-family: Open Sans, Arial, Helvetica, sans-serif;